In [1]:
#zad 1
Moja_lista=[1, 17, 3, 5, 3, 4, 86, 90, 2, 21]
lista[0]
lita[-1]
len(Moja_lista)
max(Moja_lista)
min(Moja_lista)
sum(Moja_lista)
Moja_lista.append(6)
Moja_lista.insert(7,9)
Moja_lista.pop()
Moja_lista.reverse()

In [5]:
#zad 2 
Imiona = ["Gabriel", "Gerard", "Grzegorz", "Andrzej"]
Imiona.sort()
print("Posortowane: ", Imiona)
Imiona.insert(2,"Gustaw")
Imiona[::-1]*2

Posortowane:  ['Andrzej', 'Gabriel', 'Gerard', 'Grzegorz']

['Grzegorz',
 'Gerard',
 'Gustaw',
 'Gabriel',
 'Andrzej',
 'Grzegorz',
 'Gerard',
 'Gustaw',
 'Gabriel',
 'Andrzej']

In [8]:
#zad 3
imie = input("Podaj imie: ")
print("Witaj ")
wiek = input("Podaj wiek: ")
print("Twoj wiek to ")
nazwisko = input("Podaj nazwisko ")
print("Iniciały :", imie[0], nazwisko[0])
imie*5
lancuch_3 = imie+nazwisko
print(lancuch_3)
lancuch_3 = imie[:int(len(imie)/2)]+nazwisko[int(len(nazwisko)/2):]
print(lancuch_3)

Podaj imie:  Marek

Witaj

Podaj wiek:  25

Twoj wiek to

Podaj nazwisko  Kubicz

Iniciały : M K
MarekKubicz
Maicz

In [9]:
#zad5
dni = ("pon","wtr","śrd","czw","pnt","sbt","ndz")

In [10]:
owoce = ('jabłko', 'banan', 'gruszka', 'banan', 'banan', 'malina')
count = 0
for owoc in owoce:
    if owoc == "banan":
        count = count + 1
count

3

In [15]:
#zad 7
moja_krotka= (10, 2, 6, 6, 9, 13, 0,1)
moja_krotka = list(moja_krotka)
moja_krotka.sort()
tuple(moja_krotka)

(0, 1, 2, 6, 6, 9, 10, 13)

In [32]:
#zad 8
stopnie = (
"Szeregowy",
"Kapral",
"Sierżancie",
"Porucznik",
"Kapitan",
"Major",
"Pułkownik"
)
ilosc_stopni = len(stopnie)
try:
    Major_index = stopnie.index("Pułkownik")
except ValueError:
    print("Brak stopnia \"Major\"")
Pułkownik_wstepowanie = "Pułkownik" in stopnie
print(ilosc_stopni)
print(Major_index)
print(Pułkownik_wstepowanie)

7
6
True

In [38]:
#zad 9 
zakupy = {"kawa":30,"herbata":7,"mieso":20,"woda":13}
print(zakupy)
sum(zakupy.values())

{'kawa': 30, 'herbata': 7, 'mieso': 20, 'woda': 12}

69